.conteinerAbout {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;

  justify-content: center;
  padding-top: 140px;
  margin-top: 100px;
}

.imgAbout {
  width: 1100px;
  height: 600px;
  background-image: linear-gradient(to left, #73ff00 0%, #00ff00 100%);

  mask-image: url(/mask-about.svg);
  mask-size: 93%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.about {
  width: 90%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImg {
  width: 500px;
}

.aboutEsquerda {
  width: 40%;
}

.aboutDireita {
  width: 40%;
  padding: 20px;
}

.descricaoAbout {
  font-size: 1.2rem;

  padding: 20px 0;
  color: #191919;
  font-weight: 500;
  line-height: 27px;
}

.botaoCurriculo {
  position: relative;
  left: 300px;
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  color: #191919;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
  box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
}

.botaoCurriculo:hover {
  background-color: #191919;
  color: white;
  transition: 0.3s;
}

.aboutH2 {
  position: absolute;
  background-color: white;
  padding: 10px 50px;
  top: 130px;
  border-radius: 50px;
  box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
  -webkit-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
  -moz-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
}

/* TELA DE 1024PX */

@media (max-width: 1024px) {
  .conteinerAbout {
    height: 100vh;
    width: 100%;
    padding-top: 0px;
    margin-top: 0px;
  }
  .imgAbout {
    width: 100%;
    height: 100%;
  }
  .about {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutImg {
    width: 100%;
  }
  .aboutEsquerda {
    width: 40%;
    height: 100%;
  }
  .aboutDireita {
    width: 50%;
    height: 100%;
  }
  .descricaoAbout {
    font-size: 1rem;
    padding: 20px 0;
    color: #191919;
    font-weight: 500;
    line-height: 27px;
  }
  .aboutH2 {
    position: absolute;
    background-color: white;
    padding: 10px 50px;
    top: 70px;
    border-radius: 50px;
    box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
  }
}

/* TELA DE 768PX */

@media (max-width: 768px) {
  .conteinerAbout {
    width: 100%;
    height: auto;

    margin-top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
  }
  .imgAbout {
    display: none;
  }
  .about {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: static;
    padding: 50px 20px;
    background-image: linear-gradient(to left, #73ff00 0%, #00ff00 100%);
  }
  .aboutImg {
    width: 70%;
    height: auto;
  }
  .aboutEsquerda {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutDireita {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .descricaoAbout {
    font-size: 1rem;
    color: #191919;
  }
  .aboutH2 {
    font-size: 0.9rem;
    width: 70%;
    position: absolute;
    background-color: white;
    padding: 10px 50px;
    top: 90px;
    border-radius: 50px;
    box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
  }

  .botaoCurriculo {
    position: relative;
    left: 0px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 600;
    color: #191919;
    text-transform: uppercase;
    font-size: 1rem;
    text-decoration: none;
    box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
    -webkit-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 12px 15px 17px -7px rgba(0, 0, 0, 0.46);
  }
}
