.PrincipalFAQ {
  width: 100%;
  height: 650px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tituloFaq {
  color: chartreuse;
  text-align: center;
  margin-bottom: 50px;
}

.containerFaq {
  width: 50%;
  height: 100%;
}

.accordion {
  background-color: #272727;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px;
  border-radius: 20px;
}

.accordionItem section div p {
  color: chartreuse;
}
.accordionItem {
  background-color: #272727;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.accordionItem button {
  background-color: #272727;
  border: 0;
  border-bottom: solid 1px chartreuse;
  width: 100%;
  color: chartreuse;
  box-shadow: none;
  font-size: 20px;
  padding: 10px 20px;
}

.accordionItem button span {
  color: white;
  font-size: 20px;
  font-family: verdana;
  cursor: pointer;
}

.accordionItem button svg {
  display: none;
}

/*TELA DE 1024 */

@media (max-width: 1024px) {
  .PrincipalFAQ {
    height: 100%;
  }
  .containerFaq {
    width: 80%;
  }
  .tituloFaq {
    font-size: 2rem;
  }
}

/*TELA DE 768 */

@media (max-width: 768px) {
  .PrincipalFAQ {
    margin-top: 100px;
    height: 100%;
  }
  .containerFaq {
    width: 90%;
  }
  .tituloFaq {
    font-size: 1.5rem;
  }
}
