.rodape {
  background-color: white;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.coteudoRodape {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.conteiner0 {
  width: 40%;
}
.conteiner0 h3,
p {
  padding: 10px;
}

.conteiner0 h3 {
  font-size: 25px;
  color: #191919;
}

.conteiner0 p {
  font-size: 18px;
  color: #191919;
}

.conteiner {
  padding: 30px;
  width: 15%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.conteiner1 {
  border: solid 2px white;
  padding: 30px;
  width: 15%;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  gap: 20px;
}

.conteiner1 h3 {
  font-size: 15px;
  color: #191919;
}
.conteiner1 ul li {
  list-style: none;
  margin-top: 5px;
}

.conteiner1 ul li a {
  color: #191919;
  font-size: 14px;
  text-decoration: none;
  transition: 0.5s ease;
}

.conteiner1 ul li a:hover {
  color: #747474;
  font-size: 14px;
  text-decoration: none;
}
.links {
  margin-top: 30px;

  flex-direction: row !important;
  gap: 20px;
}

.links ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.links ul li {
  list-style: none;
  margin-top: 5px;
  text-decoration: none;
}
.links ul li a {
  color: #191919;
  font-size: 25px;
  text-decoration: none;
  transition: 0.5s ease;
}
.copyRight {
  background-color: #73ff00;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  height: 50px;
  width: 100%;
}
.copy {
  font-size: 15px;
  font-weight: 500;
  color: #191919;
}

.termo {
  font-size: 15px;
  font-weight: 600;
  color: #191919;
  text-decoration: none;
}

.whatsapp {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  background-color: #25d366;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  animation: pulsozap 5s infinite;
}

.whatsapp:hover {
  background-color: #178a41;
}

.whatsapp a i {
  color: white;
  font-size: 30px;
}

@keyframes pulsozap {
  0% {
    transform: scale(0.8);
    animation-delay: 2s;
  }
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 5px #25d36633;
  }
  100% {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 1024px) {
  .rodape {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  .coteudoRodape {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    margin: 0;

    gap: 0;
  }

  .conteiner0 {
    width: 100%;
    grid-column: 1 / -1;
  }
  .conteiner1 {
    width: 100%;
    height: auto;
    margin-left: -10px;
    gap: 0;
  }
  .conteiner0 h3 {
    font-size: 15px;
  }
  .conteiner0 p {
    font-size: 15px;
  }

  .conteiner1 h3 {
    font-size: 15px;
  }
  .conteiner1 ul li a {
    font-size: 13px;
  }
  .links ul li a {
    font-size: 15px;
  }
  .copy {
    font-size: 13px;
  }

  .conteiner1 ul li a:hover {
    font-size: 13px;
  }
  .links ul li a {
    font-size: 15px;
  }

  .copy {
    font-size: 10px;
  }

  .termo {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .rodape {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  .coteudoRodape {
    padding: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    justify-items: center;
    align-items: center;
    margin: 0;

    gap: 0;
  }

  .conteiner0 {
    width: 100%;
    grid-column: 1 / -1;
  }
  .conteiner1 {
    width: 100%;
    height: auto;
    margin-left: -10px;
    gap: 0;
  }
  .conteiner0 h3 {
    font-size: 15px;
  }
  .conteiner0 p {
    font-size: 15px;
  }

  .conteiner1 h3 {
    font-size: 15px;
  }
  .conteiner1 ul li a {
    font-size: 13px;
  }
  .links ul li a {
    font-size: 15px;
  }
  .copy {
    font-size: 13px;
  }

  .conteiner1 ul li a:hover {
    font-size: 13px;
  }
  .links ul li a {
    font-size: 15px;
  }

  .copy {
    font-size: 10px;
  }

  .termo {
    font-size: 10px;
  }
}
