header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 120px;
  flex-direction: column;
}

nav {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav .logo {
  width: 200px;
}

.listaMenu {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  font-size: 1rem;
}

.listaMenu a {
  text-decoration: none;
  color: white;
}

.contato ul a li {
  background-color: #73ff00;
  padding: 0.7rem 1.8rem;
  border-radius: 10px;
  transition: 0.5s ease;
  color: #191919;
  font-weight: 600;
}
.contato ul a li:hover {
  background-color: #b2fa78;
  padding: 0.7rem 1.8rem;
  border-radius: 10px;
  transition: 0.5s ease;
}

.conteiner {
  width: 95%;
  margin-top: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteinerEsquerda {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.titulo {
  font-size: 3rem;
  color: white;
}

.titulo span {
  color: #73ff00;
}

.talk {
  position: relative;
}

.talk input {
  position: absolute;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  border: none;
  padding: 0 30px;
  font-size: 1.2rem;
  outline: none;
}
.talk button {
  position: absolute;
  font-weight: 600;
  width: 200px;
  height: 50px;
  border-radius: 100px;
  border: none;
  background-color: #73ff00;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  cursor: pointer;
  transition: 0.5s ease;
}

.talk button:hover {
  background-color: #b2fa78;
}

.descricao {
  margin-top: 50px;
  color: white;
  font-size: 1.4rem;
}

.skilTech {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.skilTech img {
  width: 50px;
  height: 50px;
  filter: grayscale(100%);
  transition: 0.5s ease;
}

.skilTech img:hover {
  width: 50px;
  height: 50px;
  filter: grayscale(0);
  transform: scale(1.2);
}

.conteinerDireita {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteinerDireita img {
  width: 500px;
  height: auto;
  margin-top: -50px;
}

.arrowExpert {
  position: absolute;
  width: 50px;
  height: 50px;
  font-size: 3rem;
  color: #73ff00;
  cursor: pointer;
  top: 0;
  left: 8rem;
  animation: pulsar 1.5s ease infinite;
}

@keyframes pulsar {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media (max-width: 1024px) {
  .listaMenu {
    display: none;
  }

  .conteiner {
    flex-direction: column-reverse;
    margin-bottom: -100px;
  }
  .conteinerEsquerda {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .talk input {
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 100px;
    border: none;
    padding: 0 30px;
    font-size: 1.2rem;
    outline: none;
  }
  .talk button {
    width: 250px;
  }

  .titulo {
    font-size: 2.4rem;
    color: white;
    text-align: center;
  }
  .conteinerDireita {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteinerDireita img {
    width: 500px;
    height: auto;
    margin-top: -50px;
    margin-bottom: 70px;
  }
  .skilTech {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .arrowExpert {
    left: 15rem;
    top: 0;
  }
  .arrowExpert i {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .listaMenu {
    display: none;
  }

  .conteiner {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px;
  }
  .titulo {
    margin-top: 25px;
    font-size: 2rem;
    color: white;
    text-align: center;
  }
  .conteinerEsquerda {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
  }

  .talk input {
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 100px;
    border: none;
    padding: 0 30px;
    font-size: 0.8rem;
    outline: none;
  }
  .talk button {
    width: 160px;
  }

  .conteinerDireita {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .conteinerDireita img {
    width: 300px;
    height: auto;
    margin-top: -50px;
  }
  .skilTech {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .arrowExpert {
    left: 1rem;
    top: -2rem;
  }
}
