.conteinerPrincipalProjetos {
  width: 100%;
  height: 1100px;
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteinerProjetos {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.divisor {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: -250px;
  left: 0;
  background-color: white;
  mask-image: url(/divisor-mask.svg);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}
