.conteinerServicos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 380px;
  position: relative;
}

.maskServece {
  width: 80%;
  height: 100%;
  position: absolute;
  background-image: linear-gradient(to left, #00ff00 0%, #73ff00 100%);

  mask-image: url(/mask-servece.svg);
  mask-size: 93%;
  mask-position: center;
  mask-repeat: no-repeat;
}

.conteinerServece {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 20px;
}

.descricaoServicos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}
.descricaoTitulo {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.descricaoConteudo {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px;
}

.descricaoTitulo h2 {
  font-size: 1.9rem;
  font-weight: 600;
  color: #191919;

  margin-bottom: 20px;
}

.descricaoConteudo p {
  font-size: 1.2rem;
  color: #191919;
}

.descricaoConteudo a {
  color: #191919;
  font-weight: 600;
  padding: 10px 15;
  background-color: white;
  width: 100px;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  padding-top: 10px;
  padding-bottom: 10px;

  text-decoration: none;
}

.Servicos {
  position: absolute;
  top: 60px;
  left: 200px;
  background-color: white;
  padding: 20px 60px;
  border-radius: 100px;
}

.Servicos h3 {
  font-weight: 600;
}

.cards {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: -300px;
}

.card {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.cardConteiner {
  background-color: #000;
  border-radius: 20px;
  padding: 30px;
  width: 300px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

  transition: all 0.5s ease;
}

@keyframes aparecer {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.cardTitulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
  transition: all 2s ease;
}
.cardTitulo i,
h3 {
  color: white;
}

.hidenn {
  display: none;
}

.cardConteiner:hover .hidenn {
  display: block;
  animation: aparecer 0.5s ease;
}

.cardConteiner:hover {
  background-color: #73ff00;
  transform: scale(1.1);
}
.cardTitulo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardTitulo i {
  font-size: 2rem;
}

.cardTitulo a,
p,
ul li {
  color: #191919;
  transition: all 2s ease;
  
  
}

.cardConteudo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 14px;
  
}

.Servicos h3 {
  color: #191919;
}
.buttonCard {
  margin-top: 20px;
}
.buttonCard a {
  text-decoration: none;
  background-color: #191919;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600;
  color: #73ff00;
}

.include ul li {
  list-style: circle;
  margin-bottom: 10px;
  font-size: 14px; 
  font-weight: 600;
}



/* Responsividade */

@media (max-width: 1280px) {
  .conteinerServicos {
    width: 100%;
  }

  .Servicos {
    top: 140px;
    left: 180px;
  }

  .descricaoServicos {
    margin-top: 220px;
  }

  .cards {
    bottom: -50px;
  }
}

@media (max-width: 1024px) {
  .conteinerServicos {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to left, #00ff00 0%, #73ff00 100%);
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  .maskServece {
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    height: auto;
    mask-image: none;

    background-image: none;
    position: static;
  }
  .descricaoServicos {
    flex-direction: column;
    margin-top: -50px;
  }
  .descricaoTitulo {
    width: 100%;
    text-align: center;
  }
  .descricaoConteudo {
    width: 100%;
    padding: 0;
  }
  .descricaoTitulo h2 {
    font-size: 1.5rem;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    position: static !important;
  }

  .Servicos {
    position: static;
    background-color: white;
    padding: 20px 60px;
    border-radius: 100px;
    margin-bottom: 30px;
  }

  .card {
    flex-direction: row;
    width: 80%;
  }

  .cardConteudo p {
    font-size: 13px;
  }

  .include ul li {
    font-size: 13px;
  }
  .divisorTop {
    display: none;
  }
}

@media (max-width: 768px) {
  .conteinerServicos {
    width: 100%;
    height: auto;
    background-image: linear-gradient(to left, #00ff00 0%, #73ff00 100%);
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 0;
  }

  .maskServece {
    margin-top: 100px;
    margin-bottom: 100px;
    width: auto;
    height: auto;
    mask-image: none;

    background-image: none;
    position: static;
  }
  .descricaoServicos {
    flex-direction: column;
    margin-top: -50px;
  }
  .descricaoTitulo {
    width: 100%;
    text-align: center;
  }
  .descricaoConteudo {
    width: 100%;
    padding: 0;
  }
  .descricaoTitulo h2 {
    font-size: 1.5rem;
  }

  .cards {
    flex-direction: column;
    position: static !important;
  }

  .Servicos {
    position: static;
    background-color: white;
    padding: 20px 60px;
    border-radius: 100px;
    margin-bottom: 30px;
  }

  .card {
    flex-direction: column;
    width: 100%;
  }

  .divisorTop {
    display: none;
  }
}
